*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#ffffff;
    /* --primary-color:#ebf9fa; */
    --primary-color:#eefbfc;
    --secondary-color:#22a5ad;
    --secondary-color-2:#2ca4ab;
    --text-color:#272727;
    --borders-color:#ebeef0;
    --ff-poppins:"Poppins", serif;
    --ff-amiri:"Amiri", serif;
    --ff-amiri-quran:"Amiri Quran", serif;
    --fs-14px:14px;
    --fs-16px:16px;
    --fs-20px:20px;
    --fs-24px:24px;
    --fs-30px:30px;
    --fs-34px:34px;
    --fs-40px:40px;
    --fw-400:400;
    --fw-500:500;
    --fw-600:600;
    --fw-700:700;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--main-color);
}
body.sepia{
    --main-color:#f8ebd5;
    --primary-color:#f2e0bf;
    --secondary-color:#ad9a78;
    --secondary-color-2:#72603f;
    --text-color:#010101;
}
body.dark{
    --main-color:#1f2125;
    --primary-color:#272f33;
    --secondary-color:#1d2222;
    --secondary-color-2:#2ca4ab;
    --text-color:#e7e9ea;
}
.container{
    margin: auto;
    width: min(1070px , 100% - 30px);
}
a{
    font: inherit;
    color: inherit;
    text-decoration: none;
}
span{
    font: inherit;
    color: inherit;
}
img{
    max-width: 100%;
}
/* Utility Classes */
.flex{
    display: flex;
}
.i-flex{
    display: inline-flex;
    align-items: center;
}
.grid{
    display: grid;
}
/* Component */
header{
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 25px 0;
    box-shadow: 0 4px 4px 0 rgba(0 0 0 /.08);
    background-color: var(--primary-color);
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container .logo a{
    font-family: var(--ff-poppins);
    font-size: var(--fs-30px);
    font-weight: var(--fw-600);
    color: var(--text-color);
}